<!doctype html>
<html>
    <head>
        <title>Shitbucket: Minimal fucking bookmarking</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="" />
    </head>
    <body>
        <header>
            <div id="header-content">
                <h1 id="logo"><a href="/?auth_key=">Shitbucket</a></h1>
            </div>
        </header>
        <div id="content">
            {{ yield }}
        </div>
        <footer>
            <div id="footer-content">
            <p><small>&copy; Kyle Terry</small></p>
            <p><small>Code: <a href="https://github.com/kyleterry/shitbucket">Github</a></small></p>
            </div>
        </footer>
    </body>
</html>
