<!doctype html>
<html>
    <head>
        <title>Shitbucket: Minimal fucking bookmarking</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <header>
            <div id="header-content">
                <h1 id="logo"><a href="/">Shitbucket</a></h1>
            </div>
        </header>
        <div id="content">
            <div id="left">
                <h3>Tags</h3>
                {{ template "tags-sidebar" }}
            </div>
            <div id="right">
                {{ yield }}
            </div>
        </div>
        <footer>
            <div id="footer-content">
            <p><small>&copy; Kyle Terry</small></p>
            <p><small>Code: <a href="https://github.com/kyleterry/shitbucket">Github</a></small></p>
            </div>
        </footer>
    </body>
</html>
