<h2>{{ .Title }}</h2>
<p><small><a href="/url/new">Add url</a></small></p>

{{if .Count}}
<p>Found {{ .Count }} URLs</p>
{{range $url := .Urls }}
<div class="url-item">
    <h3>
        <a href="{{ $url.Url }}" target="_blank">{{ $url.UrlTitle }}</a>
    </h3>
    <p><small>{{ $url.FormattedCreatedAt }} - {{ $url.Url }}</small></p>
    <p><small><a href="{{$url.DeleteUri}}">Delete</a> <a href="{{$url.Uri}}">Permalink</a></small></p>
</div>
{{ end }}
{{else}}
<p>There is nothing here but silence.</p>
{{ end }}
